
table{
    text-align: left;
    color:white;
}
.math{
    background-color: #f8a5c2;
}
.sdpd{
    background-color: #63cdda;
}
.gui{
    background-color: #f5cd79;
}
.design{
    background-color: #786fa6;
}
.aps{
    background-color: #ea8685;
}
